/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.card.related-product{
    margin-bottom: 20px;
    opacity: 1;
}
.card.related-product.disabled{
    margin-bottom: 20px;
    opacity: 0.5;
}


/*PopupS*/

.popupS-layer{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.25);
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    position: relative;
    border-radius:6px;
    background-color: #FFF;
    margin:20px;
    z-index:1000;

}
.popupS-resetFocus {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.popupS-close{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    width: 32px;
    height: 40px;
    cursor: pointer;
    z-index:1020;
}
.popupS-title{
    position: absolute;
    width: 100%;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    z-index:1001;
}
.popupS-title + .popupS-content{
    padding-bottom:20px;
}
.popupS-content{
    max-width:700px;
    padding:40px;
    border-radius:6px;
}
.popupS-content img{
    max-width:100%;
    height:auto;
}
.popupS-layer .btn{
    float:right;
}

/*
 * Default Animation
 * very Important
 */

.popupS-layer{
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
}
.popupS-overlay{
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    background:rgb(0,0,0);
    opacity: 0;
}
.popupS-layer.popupS-open{
    opacity: 1;
}
.popupS-open>.popupS-overlay{
    opacity:.6;
}

/* Loader */

@-moz-keyframes spinner {
    to {-moz-transform: rotate(360deg);
        transform: rotate(360deg);}
}
@-o-keyframes spinner {
    to {-o-transform: rotate(360deg);
        transform: rotate(360deg);}
}
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
@keyframes spinner {
    to {transform: rotate(360deg);}
}
@-moz-keyframes pulsate {
    0% {
        -moz-transform:scale(.1);
        transform:scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity:1;
    }
    100% {
        -moz-transform:scale(1.2);
        transform:scale(1.2);
        opacity:0;
    }
}
@-o-keyframes pulsate {
    0% {
        -o-transform:scale(.1);
        transform:scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity:1;
    }
    100% {
        -o-transform:scale(1.2);
        transform:scale(1.2);
        opacity:0;
    }
}
@-webkit-keyframes pulsate {
    0% {
        transform:scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity:1;
    }
    100% {
        transform:scale(1.2);
        opacity:0;
    }
}
@keyframes pulsate {
    0% {
        transform:scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity:1;
    }
    100% {
        transform:scale(1.2);
        opacity:0;
    }
}
.popupS-loading{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 30px;
}
.popupS-loading.pulser{
    border: 3px solid #1caff6;
    opacity: 0;
    -moz-animation: pulsate 1s ease-out infinite;
    -o-animation: pulsate 1s ease-out infinite;
    -webkit-animation: pulsate 1s ease-out infinite;
    animation: pulsate 1s ease-out infinite;
}
.popupS-loading.spinner{
    border-top: 3px solid #1caff6;
    border-right: 3px solid transparent;
    -moz-animation: spinner .6s linear infinite;
    -o-animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
    animation: spinner .6s linear infinite;
}



/*Bundle product*/


.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    position: relative;
    margin: 5px;
    max-width: 150px;
    max-height: 285px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.card.main {
    cursor: unset;
}
p.card-price {
    margin: 5px;
}
.box{
    position: absolute;
    top: 2%;
    left: 2%;
}
.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 5px;
}


.up-sell-products img.attachment-woocommerce_thumbnail {
    max-width: unset;
}
.up-sell-products .onsale {
    position: absolute;
    top: 2%;
    right: 2%;
}
.plus {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 50px;
    margin: 20px;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/






