/*PopupS*/

.popupS-layer {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    position: relative;
    border-radius: 6px;
    background-color: #FFF;
    margin: 20px;
    z-index: 1000;

}

.popupS-resetFocus {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.popupS-close {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    width: 32px;
    height: 40px;
    cursor: pointer;
    z-index: 1020;
}

.popupS-title {
    position: absolute;
    width: 100%;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    z-index: 1001;
}

.popupS-title + .popupS-content {
    padding-bottom: 20px;
}

.popupS-content {
    max-width: 700px;
    padding: 40px;
    border-radius: 6px;
}

.popupS-content img {
    max-width: 100%;
    height: auto;
}

.popupS-layer .btn {
    float: right;
}

/*
 * Default Animation
 */

.popupS-layer {
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
}

.popupS-overlay {
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    background: rgb(0, 0, 0);
    opacity: 0;
}

.popupS-layer.popupS-open {
    opacity: 1;
}

.popupS-open > .popupS-overlay {
    opacity: .6;
}

/* Loader */

@-moz-keyframes spinner {
    to {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    to {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(.1);
        transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
}

@-o-keyframes pulsate {
    0% {
        -o-transform: scale(.1);
        transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.popupS-loading {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 30px;
}

.popupS-loading.pulser {
    border: 3px solid #1caff6;
    opacity: 0;
    -moz-animation: pulsate 1s ease-out infinite;
    -o-animation: pulsate 1s ease-out infinite;
    -webkit-animation: pulsate 1s ease-out infinite;
    animation: pulsate 1s ease-out infinite;
}

.popupS-loading.spinner {
    border-top: 3px solid #1caff6;
    border-right: 3px solid transparent;
    -moz-animation: spinner .6s linear infinite;
    -o-animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
    animation: spinner .6s linear infinite;
}


/*Bundle product*/

.up-sell-products {
    margin-bottom: 40px;
    clear: both;
}

.popupS-content .up-sell-products {
    margin-bottom: 0;
}

.card.related-product {
    margin-bottom: 20px;
    opacity: 1;
}

.card.related-product.disabled {
    opacity: 0.5;
}

.up-sell-products .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.up-sell-products .card {
    position: relative;
    margin: 5px 5px 10px 5px;
    max-width: 150px;
    max-height: 285px;
    cursor: pointer;
    transition: 0.4s;
    border: unset;
}

.up-sell-products .card.main {
    cursor: unset;
}

.up-sell-products .box {
    position: absolute;
    top: 2%;
    right: 2%;
}

.up-sell-products .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 5px;
}


.up-sell-products img.attachment-woocommerce_thumbnail {
    max-width: unset;
}

.up-sell-products .cards-list .onsale {
    width: fit-content;
    top: 3px;
    position: absolute;
    left: 3px;
}

.up-sell-products .cards-list .star-rating {
    float: unset;
}

.up-sell-products .plus {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 50px;
}

@media all and (max-width: 500px) {
    .up-sell-products .card-list {
        flex-direction: column;
    }
}

.animation-reveal {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.up-sell-products .card-info {
    margin: auto;
    text-align: left;
    width: 100%;
    height: 100%;
    position: relative;
}

.up-sell-products .main-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.up-sell-products .card-price {
    display: block;
    clear: both;
}

.up-sell-products .card-desc {
    cursor: default;
}

.popupS-content .wc-forward {
    border: 1px solid #de1414;
    padding: 3px 15px;
    margin: 10px 0;
    display: inline-block;
    font-size: 14px;
}

.popupS-title {
    text-align: left;
    padding: 0 40px;
    font-size: 22px;
}


.popupS-buttons {
    margin-top: 10px;
}

.up-sell-card-title {
    font-size: 14px;
    line-height: 1.3;
    margin: 10px 0;
}
.popupS-buttons button {
    border: 1px solid #de1414;
    padding: 5px 20px;
    margin: 10px 0;
    display: inline-block;
    background: #ffffff;
    cursor: pointer;
    font-size: 14px;
}

.popupS-title {
    font-size: 17px;
}

.popupS-content h4{
    font-size: 15px;
    margin: 10px 0;
}

.popupS-content .card{
    margin: 5px 5px 15px 0;
}

.up-sell-products .product-title, .up-sell-products .card-title {
    font-size: 14px;
    line-height: 1.3;
    margin: 10px 0;
}

.up-sell-products button.single_add_to_cart_button.button.alt:disabled{
    opacity: 0.5;
    cursor: no-drop;
}
.up-sell-products button[disabled].single_add_to_cart_button.button.alt{
    opacity: 0.5;
    cursor: no-drop;
}
.up-sell-products button:disabled{
    opacity: 0.5;
    cursor: no-drop;
}
.up-sell-products button[disabled]{
    opacity: 0.5;
    cursor: no-drop;
}
