/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.up-sell-pro-tabs {
    max-width: 100%;
    padding: 10px;
}

.up-sell-pro-tabs .tabs__button-group {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

@media all and (max-width: 500px) {
    .up-sell-pro-tabs .tabs__button-group {
        flex-direction: column;
    }
}

.up-sell-pro-tabs .tabs__toggle {
    appearance: none;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
}

.up-sell-pro-tabs .tabs__toggle.active {
    background-color: #ff6666;
    border: 1px solid #ff6666;
}

.up-sell-pro-tabs .tabs__tab-panel {
    display: none;
}

.up-sell-pro-tabs .tabs__tab-panel.active {
    display: block;
}

.up-sell-pro-tabs .drop,
.up-sell-pro-tabs .drop__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.up-sell-pro-tabs .drop {
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.up-sell-pro-tabs .drop__container {
    row-gap: 1rem;
    width: 100%;
}

.up-sell-pro-tabs .drop__info {
    text-align: center;
}

.up-sell-pro-tabs .drop__card,
.up-sell-pro-tabs .drop__data {
    display: flex;
    align-items: center;
}

.up-sell-pro-tabs .drop__card {
    width: calc(100% - 33px);
    justify-content: space-between;
    padding: 0.75rem 1.25rem 0.75rem 0.75rem;
    background-color: #f8f8fc;
    box-shadow: 4px 4px 16px #e1e1e1, -2px -2px 16px #fff;
}

.up-sell-pro-tabs .drop__img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 1rem;
}

.up-sell-pro-tabs .drop__name {
    font-size: inherit;
    color: inherit;
    font-weight: 500;
}

.up-sell-pro-tabs .drop__data img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 1rem;
}
